

.studentsList {
    background-color: rgb(218, 218, 218)
}


table {
    background-color: #DADADA;
    text-align: center;
}

.lbl {
    font-family: Tahoma
}

li {
    text-align: right;
    background-color: rgb(218, 218, 218)
}